body{
    font-family:Arial, Helvetica, sans-serif;
    margin:20px;
}
form{
    margin-bottom:20px;
}
label{
    display:block;
    margin:5px 0
}
input{
   
    padding:8px;
    margin-bottom:10px;
}
button{
    display: block;
    padding:10px 15px;
}